p{

    text-transform: capitalize;
    
    
    }
    h3{
    
    text-decoration:overline;
    
    }
    h2{
    
    
    text-decoration: wavy;
    
    }
body{


background-color: blueviolet;





}